h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #313131;
  font-size: 36px;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h2 {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #313131;
  font-size: 32px;
  line-height: 1.4;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #313131;
  font-size: 20px;
}

p {
  margin-bottom: 0px;
  line-height: 1.6;
  letter-spacing: 0.05em;
}

a {
  display: block;
}

ul {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

.page-header {
  background-color: #fff;
}

.container {
  max-width: 1280px;
  padding-right: 15px;
  padding-left: 15px;
}

.container.hero {
  padding-right: 0px;
  padding-left: 0px;
}

.container.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.video {
  color: #fff;
}

.list-item.feature {
  width: 370px;
  margin-right: 15px;
  margin-left: 15px;
}

.page-main {
  background-color: #575757;
}

.slide {
  background-color: #575757;
}

.slider {
  height: 100%;
}

.description-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.description-img {
  display: block;
}

.title {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #313131;
  text-transform: uppercase;
}

.title.footer {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.features-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.embed-form-code {
  margin-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.form-img {
  margin-bottom: 20px;
}

.code-video {
  width: 100%;
  height: 500px;
}

.form-person {
  margin-right: 50px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.page-footer {
  background-color: #f5f5f5;
}

.footer-column.first {
  width: 30%;
  padding-left: 20px;
}

.footer-column.second {
  width: 30%;
  padding-left: 40px;
}

.footer-column.third {
  width: 40%;
  padding-left: 7%;
}

.footer-info-link {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #757575;
  text-decoration: none;
}

.footer-info-link:hover {
  color: #67b693;
}

.footer-info-link:focus {
  color: #67b693;
}

.body {
  font-family: Roboto, sans-serif;
  color: #757575;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.header-container {
  max-width: 1280px;
  background-color: transparent;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 30px;
  padding-left: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  background-color: transparent;
}

.nav-link {
  padding-right: 25px;
  padding-left: 25px;
  color: #2c3a8d;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #67b693;
}

.slide-content {
  width: 650px;
  height: 100%;
  padding-top: 180px;
  padding-bottom: 180px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.brand {
  margin-right: 30px;
}

.feature-img {
  margin-bottom: 20px;
}

.description-link {
  position: relative;
}

.slide-title {
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
}

.slide-text {
  margin-bottom: 40px;
}

.slide-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.features-text {
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 14px;
}

.link {
  display: inline-block;
  padding: 20px 60px;
  border-radius: 4px;
  background-color: #2c3a8d;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  background-color: #67b693;
}

.description-text-wrap {
  width: 80%;
  min-width: 800px;
  margin-right: auto;
  margin-bottom: 90px;
  margin-left: auto;
  text-align: center;
}

.slide-nav {
  font-size: 10px;
}

.form-text {
  margin-bottom: 30px;
  color: #757575;
}

.footer-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding-bottom: 100px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.copyright-wrap {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #c0bfbf;
}

.header-tel-desk {
  margin-right: 0px;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  color: #67b693;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header-tel-desk:hover {
  color: #67b693;
}

.header-tel-mob {
  display: none;
  padding-right: 25px;
  padding-left: 25px;
  color: #2c3a8d;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header-tel-mob:hover {
  color: #67b693;
}

.address-link {
  display: block;
  margin-bottom: 15px;
  color: #757575;
  line-height: 1.6;
  font-style: normal;
  text-decoration: none;
}

.address-link:hover {
  color: #67b693;
}

.address-link:focus {
  color: #67b693;
}

.description-header {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #67b693;
  color: #fff;
  font-size: 18px;
  text-transform: none;
}

.features-header {
  color: #fff;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

.section.video {
  background-color: #000;
}

.section.features {
  background-color: #2c3a8d;
}

.address-text {
  display: block;
  margin-bottom: 15px;
  color: #757575;
  line-height: 1.6;
  font-style: normal;
  text-decoration: none;
}

.logo-img {
  width: 105px;
}

.sub-title {
  margin-bottom: 20px;
  color: #67b693;
  font-size: 18px;
  font-weight: 500;
}

.description-title {
  color: #fff;
}

.heading {
  color: #fff;
}

.video-title {
  color: #fff;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    margin-bottom: 60px;
    font-size: 30px;
  }
  .container {
    max-width: 550px;
  }
  .container.hero {
    max-width: none;
  }
  .container.footer {
    max-width: none;
    padding-top: 60px;
  }
  .list-item.feature {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  .list-item.feature.last {
    margin-bottom: 0px;
  }
  .description-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .description-img {
    width: 550px;
  }
  .title {
    font-size: 28px;
  }
  .features-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form-row {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form-img {
    width: 550px;
  }
  .code-video {
    height: 294px;
  }
  .form-person {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .footer-column.first {
    width: 25%;
    padding-left: 0px;
  }
  .footer-column.second {
    padding-left: 0px;
  }
  .footer-column.third {
    padding-left: 0%;
  }
  .nav-container {
    padding-right: 20px;
  }
  .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 12px;
  }
  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .slide-content {
    width: 550px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .brand {
    margin-right: 20px;
  }
  .feature-img {
    width: 550px;
  }
  .slide-title {
    margin-bottom: 20px;
    font-size: 36px;
  }
  .slide-text {
    margin-bottom: 30px;
  }
  .link {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .description-text-wrap {
    width: auto;
    min-width: 0px;
    margin-bottom: 80px;
  }
  .footer-row {
    width: 94%;
    padding-bottom: 60px;
  }
  .copyright-wrap {
    width: 94%;
  }
  .header-tel-desk {
    display: none;
    padding-right: 20px;
    padding-left: 20px;
  }
  .header-tel-mob {
    display: inline-block;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 12px;
  }
  .header-tel-mob.borders {
    padding-top: 19px;
    color: #67b693;
    font-size: 14px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    margin-bottom: 15px;
    font-size: 28px;
  }
  h2 {
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    text-align: left;
  }
  .container {
    max-width: 470px;
  }
  .container.footer {
    padding-top: 40px;
  }
  .list-item.feature {
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
  }
  .description-list {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
  }
  .description-img {
    width: 440px;
  }
  .title {
    margin-bottom: 15px;
    font-size: 24px;
  }
  .title.footer {
    font-size: 13px;
    letter-spacing: 1px;
  }
  .features-list {
    width: 440px;
    margin-right: auto;
    margin-left: auto;
  }
  .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form-wrapper {
    margin-right: auto;
    margin-left: auto;
  }
  .form-img {
    width: 100%;
    height: 100%;
  }
  .code-video {
    height: 300px;
  }
  .form-person {
    display: none;
  }
  .footer-column.first {
    width: 25%;
    min-width: 100px;
  }
  .footer-column.second {
    width: 30%;
    padding-left: 3%;
  }
  .footer-column.third {
    width: 45%;
    padding-left: 3%;
  }
  .footer-info-link {
    font-size: 14px;
  }
  .nav-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    max-width: none;
    padding-right: 10px;
    padding-left: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .nav-link.borders {
    width: 100%;
    border-top: 1px solid #ebebeb;
  }
  .icon {
    color: #2c3a8d;
    font-size: 28px;
  }
  .nav-menu {
    width: 100px;
    margin-left: auto;
    padding: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-color: #fff;
  }
  .menu-button {
    margin-left: auto;
    color: transparent;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .slide-content {
    width: 75%;
    max-width: 440px;
    padding-top: 80px;
    padding-bottom: 80px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }
  .feature-img {
    width: 100%;
    margin-bottom: 20px;
  }
  .slide-title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .slide-text {
    margin-bottom: 25px;
    font-size: 14px;
    text-align: left;
  }
  .link {
    padding: 15px 45px;
  }
  .description-text-wrap {
    margin-bottom: 40px;
    text-align: left;
  }
  .footer-row {
    width: 100%;
    padding-bottom: 40px;
    padding-left: 0px;
  }
  .copyright-wrap {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header-tel-desk {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header-tel-mob {
    display: block;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header-tel-mob.borders {
    width: 100%;
    padding: 15px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }
  .right-arrow {
    display: none;
  }
  .left-arrow {
    display: none;
  }
  .address-link {
    font-size: 14px;
  }
  .description-header {
    text-align: center;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .address-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    line-height: 1.4;
  }
  h2 {
    width: auto;
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.4;
    text-align: left;
  }
  .container.footer {
    padding-right: 30px;
    padding-left: 30px;
  }
  .list-item.feature {
    margin-right: 0px;
    margin-left: 0px;
  }
  .description-list {
    width: 100%;
  }
  .description-img {
    width: 100%;
  }
  .title {
    font-size: 24px;
    line-height: 1.4;
  }
  .title.footer {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .features-list {
    width: auto;
  }
  .code-video {
    height: 213px;
  }
  .form-person {
    display: block;
    margin-bottom: 30px;
  }
  .footer-column.first {
    width: auto;
    margin-bottom: 40px;
  }
  .footer-column.second {
    width: auto;
    margin-bottom: 40px;
    padding-left: 0px;
  }
  .footer-column.third {
    width: auto;
    padding-left: 0%;
  }
  .footer-info-link {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 18px;
    line-height: 1.2;
  }
  .nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
  }
  .nav-menu {
    width: auto;
    padding: 20px;
  }
  .slide-content {
    width: 80%;
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .description-link {
    width: 100%;
  }
  .slide-title {
    font-size: 34px;
    line-height: 1.3;
    text-align: left;
    letter-spacing: 2px;
  }
  .link {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-row {
    padding-bottom: 30px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .copyright-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header-tel-desk {
    font-size: 16px;
  }
  .header-tel-mob {
    font-size: 16px;
  }
  .header-tel-mob.borders {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 17px;
  }
  .address-link {
    font-size: 18px;
  }
  .address-text {
    font-size: 18px;
  }
  .logo-img {
    width: 115px;
  }
}

