h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #313131;
  font-size: 36px;
  line-height: 1.4;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h2 {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #313131;
  font-size: 32px;
  line-height: 1.4;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #313131;
  font-size: 20px;
}

p {
  margin-bottom: 0px;
  line-height: 1.6;
  letter-spacing: 0.05em;
}

a {
  display: block;
}

ul {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.page-header {
  background-color: #fff;
}

.container {
  max-width: 1280px;
  padding-right: 15px;
  padding-left: 15px;
}

.container.hero {
  padding-right: 0px;
  padding-left: 0px;
}

.container.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container.video {
  color: #fff;
}

.list-item.feature {
  width: 370px;
  margin-right: 15px;
  margin-left: 15px;
}

.page-main {
  background-color: #575757;
}

.slide {
  background-color: #575757;
}

.slider {
  height: 100%;
}

.description-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.description-img {
  display: block;
}

.title {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #313131;
  text-transform: uppercase;
}

.title.footer {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.features-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.embed-form-code {
  margin-bottom: 0px;
  padding: 40px 25px 25px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid #c0bfbf;
  border-radius: 7px;
}

.form-img {
  width: 100%;
  margin-bottom: 20px;
}

.code-video {
  width: 100%;
  height: 500px;
}

.form-person {
  margin-right: 50px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.page-footer {
  background-color: #f5f5f5;
}

.footer-column.first {
  width: 30%;
  padding-left: 20px;
}

.footer-column.second {
  width: 30%;
  padding-left: 40px;
}

.footer-column.third {
  width: 40%;
  padding-left: 7%;
}

.footer-info-link {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #757575;
  text-decoration: none;
}

.footer-info-link:hover {
  color: #67b693;
}

.footer-info-link:focus {
  color: #67b693;
}

.body {
  font-family: Roboto, sans-serif;
  color: #757575;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.header-container {
  max-width: 1280px;
  background-color: transparent;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 30px;
  padding-left: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  background-color: transparent;
}

.nav-link {
  padding-right: 25px;
  padding-left: 25px;
  color: #2c3a8d;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #67b693;
}

.nav-link:focus {
  color: #67b693;
}

.nav-link.w--current {
  color: #67b693;
}

.slide-content {
  width: 650px;
  padding-top: 180px;
  padding-bottom: 180px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.brand {
  margin-right: 30px;
}

.feature-img {
  margin-bottom: 20px;
}

.description-link {
  position: relative;
}

.slide-title {
  margin-bottom: 25px;
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
}

.slide-text {
  margin-bottom: 40px;
}

.slide-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.features-text {
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 14px;
}

.batton {
  display: inline-block;
  padding: 20px 60px;
  border-radius: 4px;
  background-color: #2c3a8d;
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.batton:hover {
  background-color: #67b693;
}

.description-text-wrap {
  width: 80%;
  min-width: 800px;
  margin-right: auto;
  margin-bottom: 90px;
  margin-left: auto;
  text-align: center;
}

.slide-nav {
  font-size: 10px;
}

.form-text {
  margin-bottom: 30px;
  color: #757575;
}

.footer-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding-bottom: 100px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-bottom: 1px solid #c0bfbf;
}

.header-tel-desk {
  margin-right: 0px;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  color: #67b693;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header-tel-desk:hover {
  color: #67b693;
}

.header-tel-mob {
  display: none;
  padding-right: 25px;
  padding-left: 25px;
  color: #2c3a8d;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header-tel-mob:hover {
  color: #67b693;
}

.address-link {
  display: block;
  margin-bottom: 15px;
  color: #757575;
  line-height: 1.6;
  font-style: normal;
  text-decoration: none;
}

.address-link:hover {
  color: #67b693;
}

.address-link:focus {
  color: #67b693;
}

.description-header {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #67b693;
  color: #fff;
  font-size: 18px;
  text-transform: none;
}

.features-header {
  color: #fff;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

.section.video {
  background-color: #000;
}

.section.features {
  background-color: #2c3a8d;
}

.address-text {
  display: block;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #757575;
  line-height: 1.6;
  font-style: normal;
  text-decoration: none;
}

.logo-img {
  width: 105px;
}

.sub-title {
  margin-bottom: 20px;
  color: #67b693;
  font-size: 18px;
  font-weight: 500;
}

.description-title {
  color: #fff;
}

.video-title {
  color: #fff;
}

.tnk-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  max-width: 750px;
  padding-right: 70px;
  padding-bottom: 50px;
}

.text-block {
  margin-bottom: 25px;
  text-align: left;
}

.screen-tnk {
  width: 90%;
  max-width: 1280px;
}

.tnk-img-block {
  width: 30%;
  margin-right: 40px;
  background-image: url('../images/tnk-email.png');
  background-position: 50% 50%;
  background-size: 150px;
  background-repeat: no-repeat;
}

.site-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tnk-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.main {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.screen {
  position: relative;
  width: 90%;
  max-width: 1280px;
}

.screen.language {
  position: relative;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.language-link {
  opacity: 0.5;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.language-link:hover {
  opacity: 1;
}

.language-wrapper {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  margin-top: 20px;
  padding: 2px 6px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.language-wrapper:hover {
  opacity: 1;
}

.language-line {
  width: 1px;
  height: 16px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #fff;
  opacity: 0.5;
}

.link-2 {
  display: inline-block;
  padding: 10px 26px;
  border-style: solid;
  border-width: 2px;
  border-color: #ff6c6c;
  background-color: transparent;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  color: #ff6c6c;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.link-2:hover {
  background-color: #ff6c6c;
  color: #fff;
  text-decoration: none;
}

.tnk-text-wrapper {
  width: 70%;
}

.heading-3 {
  font-size: 26px;
}

.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #757575;
}

.pr-section.hero {
  padding-top: 0px;
  padding-bottom: 0px;
}

.pr-section.description {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pr-container {
  max-width: 1280px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.pr-container.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url('../images/2015909915_w640_h640_2015909915.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/2015909915_w640_h640_2015909915.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.pr-container.description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pr-hero-text-wrap {
  width: 650px;
  padding-top: 180px;
  padding-bottom: 180px;
  text-align: center;
}

.pr-hero-text {
  margin-bottom: 40px;
  color: #fff;
}

.pr-row-production {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #2c3a8d;
}

.pr-column-img {
  width: 50%;
}

.pr-img {
  width: 100%;
}

.pr-page-main {
  background-color: #fff;
}

.pr-list-item {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.pr-list-item.description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 230px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pr-batton {
  display: inline-block;
  padding: 15px 60px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  border-radius: 4px;
  background-color: #2c3a8d;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.pr-batton:hover {
  background-color: #67b693;
}

.pr-batton:focus {
  background-color: #67b693;
}

.pr-batton.production {
  padding: 13px 58px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background-color: transparent;
  font-size: 16px;
}

.pr-batton.production:hover {
  border-color: #67b693;
  background-color: #67b693;
}

.pr-batton.production:focus {
  border-color: #67b693;
  background-color: #67b693;
}

.pr-batton.service {
  padding: 13px 58px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background-color: transparent;
  font-size: 16px;
}

.pr-batton.service:hover {
  border-color: #2c3a8d;
  background-color: #2c3a8d;
}

.pr-batton.service:focus {
  border-color: #67b693;
  background-color: #67b693;
}

.pr-batton.refitting {
  padding: 13px 58px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background-color: transparent;
  font-size: 16px;
}

.pr-batton.refitting:hover {
  border-color: #67b693;
  background-color: #67b693;
}

.pr-batton.refitting:focus {
  border-color: #67b693;
  background-color: #67b693;
}

.pr-title {
  margin-bottom: 15px;
  font-size: 30px;
  text-align: left;
}

.pr-title.service {
  color: #fff;
  font-size: 22px;
  line-height: 1.6;
}

.pr-title.refitting {
  color: #fff;
  font-size: 22px;
  line-height: 1.6;
}

.pr-title.production {
  color: #fff;
  font-size: 22px;
  line-height: 1.6;
}

.pr-title.description {
  margin-bottom: 30px;
  font-size: 36px;
  text-align: center;
}

.pr-column-text {
  width: 50%;
  padding: 10px 5% 20px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.pr-text {
  margin-bottom: 30px;
}

.pr-text.white {
  color: hsla(0, 0%, 100%, 0.8);
}

.pr-text.refitting {
  color: hsla(0, 0%, 100%, 0.8);
}

.pr-text.description {
  max-width: 880px;
  margin-bottom: 0px;
  text-align: center;
}

.hero-title {
  margin-bottom: 25px;
  color: #fff;
  font-size: 44px;
  line-height: 1.6;
}

.pr-row-refitting {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background-color: #000;
}

.pr-row-service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #67b693;
}

.pr-list.description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 880px;
  margin-bottom: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pr-description__icon {
  width: 100px;
  margin-bottom: 19px;
}

.pr-description__header {
  color: #313131;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.pr-sub-title {
  margin-bottom: 70px;
  color: #67b693;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.pr-description__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    margin-bottom: 60px;
    font-size: 30px;
  }
  .container {
    max-width: 550px;
  }
  .container.hero {
    max-width: none;
  }
  .container.footer {
    max-width: none;
    padding-top: 60px;
  }
  .list-item.feature {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 60px;
    margin-left: 0px;
  }
  .list-item.feature.last {
    margin-bottom: 0px;
  }
  .description-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .description-img {
    width: 550px;
  }
  .title {
    font-size: 28px;
  }
  .features-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form-row {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form-img {
    width: 550px;
  }
  .code-video {
    height: 294px;
  }
  .form-person {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .footer-column.first {
    width: 25%;
    padding-left: 0px;
  }
  .footer-column.second {
    padding-left: 0px;
  }
  .footer-column.third {
    padding-left: 0%;
  }
  .nav-container {
    padding-right: 20px;
  }
  .nav-link {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 12px;
  }
  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .slide-content {
    width: 550px;
    padding-top: 180px;
    padding-bottom: 180px;
  }
  .brand {
    margin-right: 20px;
  }
  .feature-img {
    width: 550px;
  }
  .slide-title {
    margin-bottom: 15px;
    font-size: 36px;
  }
  .slide-text {
    margin-bottom: 30px;
  }
  .batton {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .description-text-wrap {
    width: auto;
    min-width: 0px;
    margin-bottom: 80px;
  }
  .footer-row {
    width: 94%;
    padding-bottom: 60px;
  }
  .header-tel-desk {
    display: none;
    padding-right: 20px;
    padding-left: 20px;
  }
  .header-tel-mob {
    display: inline-block;
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 12px;
  }
  .header-tel-mob.borders {
    padding-top: 19px;
    color: #67b693;
    font-size: 14px;
    line-height: 1.2;
  }
  .section.polupritsep {
    padding-top: 60px;
  }
  .tnk-content {
    width: 80%;
    max-width: none;
    padding-right: 0px;
    padding-bottom: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .text-block {
    margin-bottom: 30px;
  }
  .screen-tnk {
    max-width: 700px;
  }
  .tnk-img-block {
    width: auto;
    height: 200px;
    margin-right: 0px;
    background-position: 0% 50%;
  }
  .tnk-content-wrapper {
    width: 100%;
  }
  .tnk-text-wrapper {
    width: auto;
  }
  .pr-section {
    padding-bottom: 60px;
  }
  .pr-section.description {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .pr-container {
    max-width: 550px;
  }
  .pr-container.hero {
    max-width: none;
  }
  .pr-hero-text-wrap {
    width: 550px;
    padding-top: 180px;
    padding-bottom: 180px;
  }
  .pr-hero-text {
    margin-bottom: 31px;
  }
  .pr-row-production {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 13px;
  }
  .pr-column-img {
    width: 100%;
  }
  .pr-img {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
  }
  .pr-list-item.description {
    min-width: 160px;
  }
  .pr-batton {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .pr-column-text {
    width: 100%;
    padding: 30px 5% 35px;
  }
  .hero-title {
    margin-bottom: 15px;
    font-size: 36px;
  }
  .pr-row-refitting {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 13px;
  }
  .pr-row-service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 13px;
  }
  .pr-list.description {
    min-width: 550px;
  }
  .pr-description__icon {
    width: 80px;
  }
  .pr-description__header {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    margin-bottom: 15px;
    font-size: 28px;
  }
  h2 {
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    text-align: left;
  }
  .container {
    max-width: 470px;
  }
  .container.footer {
    padding-top: 40px;
  }
  .list-item.feature {
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
  }
  .description-list {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
  }
  .description-img {
    width: 440px;
  }
  .title {
    margin-bottom: 15px;
    font-size: 24px;
  }
  .title.footer {
    font-size: 13px;
    letter-spacing: 1px;
  }
  .features-list {
    width: 440px;
    margin-right: auto;
    margin-left: auto;
  }
  .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .form-wrapper {
    margin-right: auto;
    margin-left: auto;
  }
  .form-img {
    width: 100%;
    height: 100%;
  }
  .code-video {
    height: 300px;
  }
  .form-person {
    display: none;
  }
  .footer-column.first {
    width: 25%;
    min-width: 100px;
    padding-left: 10px;
  }
  .footer-column.second {
    width: 30%;
    padding-left: 4%;
  }
  .footer-column.third {
    width: 45%;
    padding-left: 3%;
  }
  .footer-info-link {
    font-size: 14px;
  }
  .nav-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    max-width: none;
    padding-right: 10px;
    padding-left: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .nav-link.borders {
    width: 100%;
    border-top: 1px solid #ebebeb;
  }
  .icon {
    color: #2c3a8d;
    font-size: 28px;
  }
  .nav-menu {
    width: 100px;
    margin-left: auto;
    padding: 10px 10px 7px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    background-color: #fff;
  }
  .menu-button {
    margin-left: auto;
    color: transparent;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .slide-content {
    width: 75%;
    max-width: 440px;
    padding-top: 60px;
    padding-bottom: 80px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
  }
  .feature-img {
    width: 100%;
    margin-bottom: 20px;
  }
  .slide-title {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .slide-text {
    margin-bottom: 25px;
    font-size: 14px;
    text-align: left;
  }
  .batton {
    padding: 15px 45px;
  }
  .description-text-wrap {
    margin-bottom: 40px;
    text-align: left;
  }
  .footer-row {
    width: 100%;
    padding-bottom: 40px;
    padding-left: 0px;
  }
  .header-tel-desk {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header-tel-mob {
    display: block;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header-tel-mob.borders {
    width: 100%;
    padding: 15px 0px 15px 20px;
    border-top: 1px solid #ebebeb;
  }
  .right-arrow {
    display: none;
  }
  .left-arrow {
    display: none;
  }
  .address-link {
    font-size: 14px;
  }
  .description-header {
    text-align: center;
  }
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section.polupritsep {
    padding-top: 40px;
  }
  .address-text {
    font-size: 14px;
  }
  .tnk-content {
    width: 90%;
    padding-bottom: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .text-block {
    margin-bottom: 10px;
    line-height: 20px;
  }
  .tnk-img-block {
    width: 30%;
    height: auto;
    margin-right: 20px;
    background-position: 50% 50%;
    background-size: 100px;
  }
  .tnk-content-wrapper {
    height: 100vh;
    min-height: 300px;
  }
  .tnk-text-wrapper {
    width: 70%;
  }
  .copyright {
    font-size: 14px;
  }
  .pr-section {
    padding-bottom: 40px;
  }
  .pr-container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .pr-hero-text-wrap {
    width: 75%;
    max-width: 440px;
    padding-top: 60px;
    padding-bottom: 80px;
    text-align: left;
  }
  .pr-list-item.description {
    min-width: 155px;
  }
  .pr-batton {
    padding: 15px 45px;
  }
  .pr-title.description {
    font-size: 28px;
  }
  .hero-title {
    font-size: 32px;
  }
  .pr-list.description {
    width: 100%;
    min-width: 0px;
  }
  .pr-description__header {
    font-size: 13px;
  }
  .pr-description__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    line-height: 1.4;
  }
  h2 {
    width: auto;
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.4;
    text-align: left;
  }
  .container.footer {
    padding-right: 30px;
    padding-left: 30px;
  }
  .list-item.feature {
    margin-right: 0px;
    margin-left: 0px;
  }
  .description-list {
    width: 100%;
  }
  .description-img {
    width: 100%;
  }
  .title {
    font-size: 24px;
    line-height: 1.4;
  }
  .title.footer {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .features-list {
    width: auto;
  }
  .embed-form-code {
    border-color: #dfdfdf;
  }
  .code-video {
    height: 213px;
  }
  .form-person {
    display: block;
    margin-bottom: 30px;
  }
  .footer-column.first {
    width: auto;
    margin-bottom: 25px;
    padding-left: 0px;
  }
  .footer-column.second {
    width: auto;
    margin-bottom: 25px;
    padding-left: 0px;
  }
  .footer-column.third {
    width: auto;
    padding-left: 0%;
  }
  .footer-info-link {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 18px;
    line-height: 1.2;
  }
  .nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
  }
  .nav-menu {
    width: auto;
    padding: 20px 20px 13px;
  }
  .slide-content {
    width: 80%;
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .description-link {
    width: 100%;
  }
  .slide-title {
    font-size: 28px;
    line-height: 1.3;
    text-align: left;
    letter-spacing: 2px;
  }
  .slide-text {
    margin-bottom: 30px;
    font-size: 16px;
  }
  .batton {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  .form-text {
    margin-bottom: 40px;
  }
  .footer-row {
    padding-bottom: 25px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header-tel-desk {
    font-size: 16px;
  }
  .header-tel-mob {
    font-size: 16px;
  }
  .header-tel-mob.borders {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 17px;
  }
  .address-link {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .section.polupritsep {
    padding-top: 30px;
  }
  .address-text {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .logo-img {
    width: 105px;
  }
  .logo-img.footer {
    width: 130px;
  }
  .tnk-content {
    padding-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .text-block {
    margin-bottom: 40px;
  }
  .tnk-img-block {
    width: auto;
    height: 130px;
    margin-right: 0px;
    margin-bottom: 20px;
    background-position: 0% 50%;
  }
  .tnk-content-wrapper {
    height: auto;
    min-height: 400px;
    padding-top: 42px;
  }
  .language-line {
    margin-right: 15px;
    margin-left: 15px;
  }
  .tnk-text-wrapper {
    width: 100%;
  }
  .copyright {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    font-size: 18px;
  }
  .pr-section {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .pr-section.description {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .pr-container.hero {
    padding-right: 0px;
    padding-left: 0px;
  }
  .pr-hero-text-wrap {
    width: 80%;
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .pr-hero-text {
    margin-bottom: 25px;
  }
  .pr-row-production {
    border-radius: 11px;
  }
  .pr-img {
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
  }
  .pr-list-item.description {
    padding-top: 40px;
    padding-bottom: 40px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }
  .pr-batton {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .pr-title.service {
    margin-bottom: 10px;
    line-height: 1.5;
  }
  .pr-title.description {
    margin-bottom: 15px;
    margin-left: 0px;
    font-size: 26px;
    text-align: left;
  }
  .pr-column-text {
    padding: 25px 15px 20px;
  }
  .pr-text.white {
    margin-bottom: 20px;
  }
  .pr-text.description {
    text-align: left;
  }
  .hero-title {
    font-size: 28px;
  }
  .pr-row-refitting {
    border-radius: 11px;
  }
  .pr-row-service {
    border-radius: 11px;
  }
  .pr-list.description {
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-radius: 8px;
    background-color: rgba(49, 49, 49, 0.1);
  }
  .pr-description__icon {
    width: 130px;
  }
  .pr-description__header {
    font-size: 20px;
  }
  .pr-sub-title {
    margin-bottom: 50px;
    text-align: left;
  }
  .heading-4 {
    font-size: 26px;
  }
}

